{% extends "layout.twig" %}

{% block content %}

    <h3 class="title">Autodis CarManager {{ user.username }} {{ title }} <a href="/auth/logout">Logout</a></h3>
    
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate tempore a rerum deleniti eius, sapiente, reiciendis veniam sit atque nostrum reprehenderit porro minima iusto sunt tenetur veritatis hic, aut facilis.</p>
    </div>

{% endblock %}
