{% extends "layout.twig" %}

{% block content %}

<form action="/auth/register" method="POST">
    <h3 class="title">Autodis CarManager {{ title }}</h3>

    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Your username">
    </div>

    <div class="form-group">
        <label for="email">Username</label>
        <input type="email" name="email" placeholder="Your email">
    </div>


    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Your password">
    </div>

    <div class="form-group">
        <label for="passwordConfirm">Password</label>
        <input type="password" name="passwordConfirm" placeholder="Confirm your password">
    </div>


    <div class="form-group">
        <div class="btn-group">
            <a class="btn" href="/">Login Page</a>
            <button class="btn" type="submit" name="submit">Setup user</button>
        </div>
    </div>

</form>

{% endblock %}
